receivers:
  otlp:
    protocols:
      grpc: {}
      http: {}

exporters:
  # Use OTLP exporter to send to Jaeger (which supports OTLP natively)
  otlp/jaeger:
    endpoint: 'jaeger:4317'
    tls:
      insecure: true
  prometheus:
    endpoint: '0.0.0.0:8889'
  # Debug logging for troubleshooting
  logging:
    verbosity: normal

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp/jaeger, logging]
    metrics:
      receivers: [otlp]
      exporters: [prometheus, logging]
