name: iac-plan

on:
  workflow_call:
    inputs:
      working_directory:
        description: Terraform working directory
        type: string
        default: 'infrastructure/envs/dev'
      terraform_version:
        description: Terraform version to install
        type: string
        default: '1.6.6'
      aws_region:
        description: AWS region
        type: string
        default: 'us-east-1'
      run_plan:
        description: Execute terraform plan (true/false)
        type: boolean
        default: true
    secrets:
      aws_role_to_assume:
        required: true
        description: IAM role ARN for OIDC assumption

permissions: read-all

jobs:
  validate:
    name: Terraform Validate & Scan
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@ff717079ee2060e4bcee96c4779b553acc87447c # v4
        with:
          role-to-assume: ${{ secrets.aws_role_to_assume }}
          aws-region: ${{ inputs.aws_region }}

      - name: Setup tools
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip python3-pip

      - id: terraform
        name: Setup Terraform
        uses: ./ci/actions/setup-terraform
        with:
          terraform_version: ${{ inputs.terraform_version }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        with:
          tflint_version: v0.51.1

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      - name: Terraform init
        env:
          TF_PLUGIN_CACHE_DIR: ${{ steps.terraform.outputs.plugin_cache_dir }}
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: tflint
        run: |
          tflint --init
          tflint

      - name: tfsec
        uses: aquasecurity/tfsec-action@b466648d6e39e7c75324f25d83891162a721f2d6 # v1.0.3
        with:
          working_directory: ${{ inputs.working_directory }}
          additional_args: --soft-fail

      - name: checkov
        uses: bridgecrewio/checkov-action@99bb2caf247dfd9f03cf984373bc6043d4e32ebf # v12.1347.0
        with:
          directory: ${{ inputs.working_directory }}
          quiet: true
          framework: terraform

      - name: Terraform plan
        if: inputs.run_plan
        env:
          TF_PLUGIN_CACHE_DIR: ${{ steps.terraform.outputs.plugin_cache_dir }}
        run: terraform plan -input=false
